/* Common Shared styles */
body {
    font-family: 'Open Sans', sans-serif;
}

.textprimary {
    color: #FD6E0A;
}

.buttonprimary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}

/* nav related styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.navtitle {
    color: var(--Dark-01, #181818);
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

/* header related styles */
.header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bannercontent {
    width: 585px;
}

.bannergreeting {
    font-size: 45px;
    color: #474747;
    margin-bottom: 0px;
}

.bannerheading {
    color: #181818;
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner .profilepic {
    width: 500px;
}

/* main section styles */
.sectiontitle {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.sectiondescription {
    color: #757575;
    text-align: center;
    font-size: 18px;
}

main {
    max-width: 1140px;
    /* etao kora jay */
    /* justify-content: flex;  */
    /* upore niche margin aage nisi tai 0 dilam ar auto dile content ta leftright auto niye nibe */
    margin: 0 auto;
}

/* main er moddhe jotogula section tar margin top dilam*/
main section {
    margin-top: 130px;
}

/* about section styles */
.about {
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px;
}

.about-info-container {
    display: flex;
    /* eder majhe space thik nai space thik korte space around /between */
    justify-content: space-around;
}

.about-info {
    text-align: center;
}

/* skill related styles */

#what-i-do-description {
    padding: 30px 150px 50px 150px;
}


.skill-container {
    /* display: flex; dile flexible hoye content majhe chole ashbe */
    display: flex;
    /* 2ta item(div) er moddhe gap */
    gap: 24px;
}

.skill {
    padding: 33px;
    /* box shadow er jonno box e click kore style theke copy kore nia ashlam figma */
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skill-description {
    color: #757575;
}

/* resume section styles */
.resume-column-title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}

.resume-container {
    display: flex;
    gap: 71px;
}

.resume-item-description,
.resume-item-institute {
    color: #757575;
}

.resume-item-institute {
    margin-bottom: 20px;
    /* jehetu resume-item-title er bottom e 10px disi tai etar top e 0 diye dilam */
    margin-top: 0px;
}

.resume-item-title {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}

.resume-container hr {
    margin: 30px;
}

/* cv style video er moto hoy nai,nije korsi */
.cv {
    text-align: center;
    margin: 40px;
}

/* ##### Finish the resume section */

/* Footer section styles */

footer {
    display: flex;
    background: #FFF8F3;
    padding: 130px 230px;
    margin-top: 100px;
}

/* footer er column gulo jeno majhkhane 50-50% ashe shejonno */
.footer-column {
    width: 50%;
    gap: 100px;
}
/* social-links er moddhe joto anchor ase tader moddhe (space) margin */

.social-links a{
    margin-right: 24px;
}

.contact input[type="text"], .contact input[type="Email"],
textarea {
    /* flex diyeo kora jay but block akare rakhlam */
    /* display: flex; */
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    border-radius: 5px;
    background: #FFF;
    border: 0;
    /* form er width gulo eki width e kore deya.er meaning hosse input ar textarea er moddhe joto tuku jayga ase shob 100% hoye jao*/
    width: 100%;

}
/* shob 100% hoye jaoar karone submit button er color plus width change hoye gese tai input type shoho alada alada kore likhe dilam ar submit button takeo buttonprimary class e add kore dilam */